 <h1>Library Home</h1>

<h4 style="font-family: cursive;"> "The best place to grow" </h4>

 <!--

<% if current_user %>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<% else %>

<%= link_to "Sign up", new_user_registration_path %> <br>

<%= link_to "Sign in", new_user_session_path %>


<% end%> 

-->